<div class="row">
    <div class="col-xs-6">
        <h1>
            Logged Bugs
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th> Title </th>
                    <th> Status </th>
                    <th> Severity </th>
                    <th> Description </th>
                    <th> Logged By </th>
                    <th> Dated </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Some Bugs</td>
                    <td>Logged</td>
                    <td>Severe </td>
                    <td>This Bug happened</td>
                    <td>Aman Jha</td>
                    <td>March 28th, 2030</td>
                </tr>
                <tr>
                    <td>Another Bugs</td>
                    <td>Logged</td>
                    <td>Severe </td>
                    <td>This Bug happened</td>
                    <td>Aman Jha</td>
                    <td>March 29th, 2030</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>